@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Employee Management System</h2>
        <h3><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></h3>
        <h3><a asp-area="" asp-controller="Country" asp-action="Index">Countries</a></h3>
    </div>
</div>
